*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --branco:#FFFDFA;
    --azul-escuro:#00001A;
    --metal:#5E607A;
    --vermelho:#F15D51;
    --amarelo:#E9AA52;
    --prata:#C5C6CE;
}

body{
    padding:1.75rem 1rem;
    background-color: var(--branco);
}

header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

header-mobile button{
    border: none;
    background: none;
}

.primeira {
    margin-bottom: 4rem;
}

.primeira img{
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira h1{
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--azul-escuro);
    margin-bottom: 1rem;
}

.primeira p{
    font-size:0.9375rem;
    line-height: 1.625rem;
    color: var(--metal);
    margin-bottom: 1.5rem;
}

.primeira button{
    padding: 0.75rem 2rem;
    background-color: var(--vermelho);
    border: none;
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 700;
    font-size: 0.875;
    letter-spacing: 0.275;
    line-height: 1.5rem;
}

.segunda {
    background-color: var(--azul-escuro);
    margin-bottom: 4rem;
    padding: 1.5rem 1.3rem;
}

.bb{
    border-bottom: 1px solid var(--metal);
    margin-bottom: 1.55rem;
    padding: 1.75rem;
}

.segunda h2{
    color: var(--amarelo);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.segunda h3{
    color: var(--branco);
    font-size:1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.segunda p{
    color: var(--prata);
    font-size: 0.9375rem;
    line-height: 1.625rem; 
}